<%inherit file="./base.html"/>

<%def name="title()">
    Chicago Nursing Homes  ${self.attr.TITLE}
</%def>

<%def name="main()">
    <h1>Chicago Nursing Homes</h1>
    <div class="table_pager">
        <a class="page_left pager_button"><<</a>
        <a class="page_right pager_button">>></a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Health Survey Date</th>
            </tr>
        </thead>
        <tbody id="locations">
        </tbody>
    </table>
</%def>
