<%inherit file="./base.html"/>

<%def name="title()">
    Login ${self.attr.TITLE}
</%def>

<%def name="main()">
    <div id="modal" class="modal_show login">
        <div class="background noise"></div>
        <div class="holder">
            <div class="modal_header"><span class="modal_title">Login</span></div>
            <div class='modal_content form'>
                <form name="login" action="${base_url}/login" method="POST">
                    <input type="text" name="username" autofocus="1" />
                    <input type="password" name="password" />
                    <input type="submit" value="Login" name="login" />
                </form>
            </div>
        </div>
    </div>
</%def>